body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #fff;
}

.container {
    flex: 1;
}

.card {
    border: none;
    transition: transform 0.3s ease, box-shadow 0,3s ease;
    border-radius: 10px;
    background: #fff;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px #000;
}

.card-img-top {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    object-fit: cover;
}

.navbar {
    box-shadow: #000;
}

.navbar-brand {
    font-weight: bold;
    letter-spacing: 1px;
}

.alert {
    border-radius: 8px;
    box-shadow: 0 4px 6px #000;
}

footer {
    background-color: #343a40;
    color: #ffffff;
    margin-top: auto;
}